@font-face {
  font-family: "body-font";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("lato-regular"), local("lato"), url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "title-font";
  font-style: bold;
  font-weight: 700;
  font-display: fallback;
  src: local("lato-bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.ttf");
}

:root {
  --body-font: "body-font", sans serif;
  --body-font-italic: "body-font-italic", sans serif;
  --title-font: "title-font", sans serif;
}

:root {
  --header-margin: 4rem;
}

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

@media screen and (min-width: 20rem) {
  body {
    font-size: calc(0.75rem + 0.5 * ((100vw - 20rem) / 60));
  }
}

@media screen and (min-width: 64rem) {
  body {
    font-size: 1rem;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3, .title {
  font-family: var(--title-font);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.wrapper {
  --margin: 1rem;
  margin: 0 var(--margin);
  width: calc(100% - calc(var(--margin) * 2));
  min-width: 20rem;
  max-width: 75rem;
}

.wrapper.header {
  height: 100%;
}

.wrapper.banner {
  height: 100%;
  padding: var(--banner-padding) 0;
}

.wrapper.footer {
  --fotter-space: space-around;
  display: flex;
  align-items: center;
  justify-content: var(--fotter-space);
  flex-wrap: wrap;
  column-gap: .5em;
}

@media screen and (min-width: 40rem) {
  .wrapper.footer {
    --fotter-space: space-between;
  }
}

@media screen and (min-width: 64rem) {
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}

.center-block {
  margin: 0 auto;
}

.center-content {
  text-align: center;
}

@media screen and (min-width: 20rem) {
  .s-5 {
    width: 5%;
  }
  .s-10 {
    width: 10%;
  }
  .s-15 {
    width: 15%;
  }
  .s-20 {
    width: 20%;
  }
  .s-25 {
    width: 25%;
  }
  .s-30 {
    width: 30%;
  }
  .s-35 {
    width: 35%;
  }
  .s-40 {
    width: 40%;
  }
  .s-45 {
    width: 45%;
  }
  .s-50 {
    width: 50%;
  }
  .s-55 {
    width: 55%;
  }
  .s-60 {
    width: 60%;
  }
  .s-65 {
    width: 65%;
  }
  .s-70 {
    width: 70%;
  }
  .s-75 {
    width: 75%;
  }
  .s-80 {
    width: 80%;
  }
  .s-85 {
    width: 85%;
  }
  .s-90 {
    width: 90%;
  }
  .s-95 {
    width: 95%;
  }
  .s-100 {
    width: 100%;
  }
}

@media screen and (min-width: 40rem) {
  .m-5 {
    width: 5%;
  }
  .m-10 {
    width: 10%;
  }
  .m-15 {
    width: 15%;
  }
  .m-20 {
    width: 20%;
  }
  .m-25 {
    width: 25%;
  }
  .m-30 {
    width: 30%;
  }
  .m-35 {
    width: 35%;
  }
  .m-40 {
    width: 40%;
  }
  .m-45 {
    width: 45%;
  }
  .m-50 {
    width: 50%;
  }
  .m-55 {
    width: 55%;
  }
  .m-60 {
    width: 60%;
  }
  .m-65 {
    width: 65%;
  }
  .m-70 {
    width: 70%;
  }
  .m-75 {
    width: 75%;
  }
  .m-80 {
    width: 80%;
  }
  .m-85 {
    width: 85%;
  }
  .m-90 {
    width: 90%;
  }
  .m-95 {
    width: 95%;
  }
  .m-100 {
    width: 100%;
  }
}

@media screen and (min-width: 64rem) {
  .l-5 {
    width: 5%;
  }
  .l-10 {
    width: 10%;
  }
  .l-15 {
    width: 15%;
  }
  .l-20 {
    width: 20%;
  }
  .l-25 {
    width: 25%;
  }
  .l-30 {
    width: 30%;
  }
  .l-35 {
    width: 35%;
  }
  .l-40 {
    width: 40%;
  }
  .l-45 {
    width: 45%;
  }
  .l-50 {
    width: 50%;
  }
  .l-55 {
    width: 55%;
  }
  .l-60 {
    width: 60%;
  }
  .l-65 {
    width: 65%;
  }
  .l-70 {
    width: 70%;
  }
  .l-75 {
    width: 75%;
  }
  .l-80 {
    width: 80%;
  }
  .l-85 {
    width: 85%;
  }
  .l-90 {
    width: 90%;
  }
  .l-95 {
    width: 95%;
  }
  .l-100 {
    width: 100%;
  }
}

.l-section {
  margin-bottom: 2rem;
}

@media screen and (min-width: 64rem) {
  .l-section {
    margin-bottom: 3rem;
  }
}

.diagonal {
  position: relative;
  padding: 1em 0;
}

@media screen and (min-width: 64rem) {
  .diagonal {
    padding: 2em 0;
  }
}

.diagonal::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  z-index: var(--z-back);
  transform: skewY(2deg);
}

.image::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-full {
  width: 100%;
}

.header-section {
  border-bottom: 1px solid #867979;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.header-section img {
  height: 2em;
  max-width: 100%;
}

.main-menu-toggle {
  width: 2.2em;
  height: 1.6em;
  background: linear-gradient(#867979 20%, transparent 20%, transparent 40%, #867979 40%, #867979 60%, transparent 60%, transparent 80%, #867979 80%);
  cursor: pointer;
}

@media screen and (min-width: 40rem) {
  .main-menu-toggle {
    display: none;
  }
}

.nav {
  position: fixed;
  top: var(--header-margin);
  right: -80vw;
  width: 80vw;
  padding-top: 1em;
  height: calc(100vh - var(--header-margin));
  background-color: black;
  transition: right 0.8s;
  z-index: var(--z-fixed);
}

.nav.show {
  right: 0;
}

@media screen and (min-width: 40rem) {
  .nav {
    position: static;
    padding-top: 0;
    background-color: transparent;
    height: auto;
    width: auto;
    transform: translateX(0);
    transition: none;
  }
}

@media screen and (min-width: 40rem) {
  .menu {
    display: flex;
  }
}

.menu-item {
  padding: 0.75em 1em;
}

@media screen and (max-width: 640px) {
  .menu-item.menu-hover:hover {
    background-color: white;
  }
  .menu-item.menu-active:active {
    background-color: white;
  }
}

.menu-link {
  color: #867979;
  display: inline-block;
}

.main-banner {
  --banner-padding: 1em;
  --banner-image-height: 5em;
  height: 20em;
  background: url(../img/banner-edcamp.jpg) #3388ff no-repeat center/cover;
  background-blend-mode: overlay;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
}

@media screen and (min-width: 40rem) {
  .main-banner {
    --banner-image-height: 6em;
    --banner-padding: 2em;
  }
}

.main-banner .banner-image {
  height: var(--banner-image-height);
  display: inline;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 1 1 320px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.card .card-content {
  padding: 1em 2em;
}

.card .card-content .card-subtitle {
  color: #867979;
}

.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
  padding-top: 1em;
  border-top: 1px solid #867979;
}

.card-footer .footer-description::before {
  background-image: url(../img/icon-pin.svg);
}

button, .button {
  color: #ff3333;
  display: inline-block;
  border: 1px solid #ff3333;
  padding: 0.5em 0.75em;
  border-radius: 3px;
}

button.button-hover:hover, .button.button-hover:hover {
  background-color: #ff3333;
  color: white;
}

button.button-active:active, .button.button-active:active {
  background-color: #ff3333;
  color: white;
}

.footer-section {
  --media-image: 2em;
  --footer-padding: .5em 0;
  background-color: #4d4d4d;
  color: white;
  padding: var(--footer-padding);
}

@media screen and (min-width: 40rem) {
  .footer-section {
    --footer-padding: 1em 0;
  }
}

.footer-section .media-container {
  display: flex;
  gap: .5em;
}

.footer-section img {
  height: var(--media-image);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: var(--header-margin) auto min-content;
}

.final-section {
  color: #867979;
}

.final-section p::before {
  background-image: url(../img/Yes_Check_Circle.svg.png);
}

span {
  color: #3388ff;
}

/*# sourceMappingURL=styles.css.map */