@import "config/variables";
@import "config/functions";
@import "config/mixins";

@font-face{
    font-family: "body-font";
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local("lato-regular"), local("lato"), url("../fonts/Lato-Regular.ttf");
}

@font-face{
    font-family: "body-font-italic";
    font-style: italic;
    font-weight: 400;
    font-display: fallback;
    src: local("lato-italic"), local("Lato-Italic"), url("../fonts/Lato-Regular.ttf");
}

@font-face{
    font-family: "body-font-bold";
    font-style: bold;
    font-weight: 700;
    font-display: fallback;
    src: local("lato-bold"), local("Lato-Bold"), url("../fonts/Lato-Regular.ttf");
}

*,*::before,*::after{
    box-sizing: border-box;
}

:root{
    --header-margin: 4rem;
}

body{
    font-family: "body-font", sans-serif;
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: var(--header-margin) auto min-content;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
}

.header-section{
    border-bottom: 1px solid map-get($colors, primary-color);
}

.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: .75em 0;
}

.header-section img{
    height: 2em;
    max-width: 100%;
}

.main-menu-toggle{
    width: 2.2em;
    height: 1.6em;
    background: menu-toggle(primary-color);
    cursor: pointer;

    @include media-quarie(medium){
        display: none;
    }
}

.nav{
    position: fixed;
    top: var(--header-margin);
    right: 0;
    width: 80vw;
    height: calc(100vh - var(--header-margin));
    padding-top: 1em;
    background-color: map-get($colors, secondary-color);
    transform: translateX(150%);
    transition: transform 1s;

    &.show{
        transform : translateX(0);
    }

    @include media-quarie(medium){
        position: static;
        padding-top: 0;
        background-color: transparent;
        height: auto;
        width: auto;
        transform: translateX(0);
    }
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-quarie(medium){
        display: flex;
    }
}

.menu-item{
    padding: 0.75em 1em;
}

.menu-link{
    text-decoration: none;
    color: map-get($colors, primary-color);
    display: inline-block;
}