.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    flex: 1 1 320px;
    border: 1px solid map-get($colors, primary-color);

    .card-content{
        padding: 1em 2em;

        .card-subtitle{
            color: map-get($colors, primary-color);
        }
    }

    .card-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5em;
        padding-top: 1em;
        border-top: 1px solid map-get($colors, primary-color);
    }
}

.card-footer{
    .footer-description{
        &::before{
            background-image: url(../img/icon-pin.svg);
        }
    }
}
