*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    margin: 0; 
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    width: 100%;
}

img{
    max-width: 100%;
    display: block;
}

h1, h2, h3, .title{
    font-family: var(--title-font);
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}